files:
  "/tmp/pipInstallation.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
      pip install beautifulsoup4
      pip install boto3
      pip install botocore
      pip install bs4
      pip install certifi
      pip install chardet
      pip install Click
      pip install Cython
      pip install docutils
      pip install emoji
      pip install Flask
      pip install future
      pip install idna
      pip install itsdangerous
      pip install Jinja2
      pip install jmespath
      pip install MarkupSafe
      pip install numpy
      pip install python-dateutil
      pip install requests
      pip install s3transfer
      pip install six
      pip install soupsieve
      pip install urllib3
      pip install vaderSentiment
      pip install Werkzeug
      pip install scikit-learn
      git clone https://github.com/facebookresearch/fastText.git
      cd fastText
      pip install .
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-en.ftz --output-document=/tmp/model-en.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-es.ftz --output-document=/tmp/model-es.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-fr.ftz --output-document=/tmp/model-fr.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-de.ftz --output-document=/tmp/model-de.ftz
      wget https://raw.github.com/charlesmalafosse/aws-elasticbeanstalk-ml-server/master/model-it.ftz --output-document=/tmp/model-it.ftz
      

commands:
  01_execute:
    command: "/tmp/pipInstallation.sh"
